/* ----- ROOT VARIABLES ----- */
:root {
    /* ================= NEUTRALES ================= */
    --neutral-0:   hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    /* ================= NARANJA ================= */
    --orange-500:  hsl(7, 88%, 67%);
    --orange-700:  hsl(7, 71%, 60%);

    /* ================= GRADIENTE ================= */
    --gradient-text: linear-gradient(135deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}
body {
    /* Hace que el body tenga al menos la altura completa de la ventana */
    min-height: 100vh;

    /* ==================================================
        IMÁGENES DE FONDO
        ==================================================
        IMPORTANTE:
        La primera imagen queda ENCIMA.
        La última imagen queda hasta el FONDO.
    */
    background-image:

        /* Imagen 1 (capa superior) */
        url('../images/pattern-squiggly-line-top.svg'),

        /* Imagen 2 */
        url('../images/pattern-squiggly-line-bottom-desktop.svg'),

        /* Imagen 3 */
        url('../images/pattern-circle.svg'),

        /* Imagen 4 */
        url('../images/pattern-lines.svg'),

        /* Imagen 5 (capa inferior) */
        url('../images/background-desktop.png');



    /* ==================================================
        REPETICIÓN DE CADA IMAGEN
        ==================================================
        El primer no-repeat corresponde a la imagen 1,
        el segundo a la imagen 2, etc.
    */
    background-repeat:

        /* IMAGEN 1*/
        no-repeat,

        /* IMAGEN 2*/
        no-repeat,

        /* IMAGEN 3 */
        no-repeat,

        /* IMAGEN 4 */
        no-repeat,

        /* IMAGEN 5 */
        no-repeat;



    /* ==================================================
       POSICIÓN DE CADA IMAGEN
       ==================================================
       Cada posición corresponde a la imagen ubicada
       en el mismo número de la lista anterior.
    */
    background-position:

        /* IMAGEN 1:
           arriba a la derecha */
        top 50px right,

        /* IMAGEN 2 (doble circulo cruzado):
           abajo a la izquierda */
        bottom  left,

        /* IMAGEN 3:
           5% desde la izquierda
           55% desde arriba */
        top -30px left 50px,

        /* IMAGEN 4:
           centrada */
        center,

        /* IMAGEN 5:
           centrada */
        center;



    /* ==================================================
       TAMAÑO DE CADA IMAGEN
       ==================================================
       Cada tamaño corresponde a la imagen con
       el mismo índice.
    */
    background-size:

        /* IMAGEN 1:
           ancho de 300px */
        200px,

        /* IMAGEN 2:
           ancho de 700px */
        630px,

        /* IMAGEN 3:
           ancho de 180px */
        100px,

        /* IMAGEN 4:
           ocupa todo el contenedor */
        cover,

        /* IMAGEN 5:
           ocupa todo el contenedor */
        cover;
}
/* ----- ESTILOS PARA lOGO ----- */
.logo{
    width: 150px;
    height: auto;
    margin-top: 25px;    
    margin-left: 40%;
}
/* ----- ESTILOS PARA TITULOS DE LA PAGINA ----- */
.textJourney{
    color: var(--neutral-0);
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    /* Sirve para dar espaciado entre líneas */
    line-height: 1.1; 
    
}
.textSecure{
    color: var(--neutral-500);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-top: -15px;
}
/*De acuerdo a la guia de estilos los label deben tener un tamaño de 20px*/
label{
    font-size: 20px;
}
.avatarContainerUpload{
    display: flex;
    flex-direction: column;
    border: 1px solid #ee0707c4; /*ELIMINAR LUEGO*/
}